.leaderboard-container {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  
}
.leaderboard-container h1{
    color: #FFD700;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: rgb(221, 255, 0);
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.leaderboard-table th {
  background-color: #4caf50;
  color: white;
}




