.signup-fields {
  padding: 60px;
  height: 500px;
  width: 700px;
  background-image: url("../assets/background-window.png");
  min-height: 100%;
  border-radius: 12px;
  margin: 0 29%;
  background-repeat: no-repeat;
}
.signup-fields h1 {
  color: #ffd700;
  letter-spacing: 5%;
  font-size: 30px;
}
.signup-fields input {
  direction: none;
  border-radius: 8px;
  background: transparent;
  border: 3px solid black;
  width: 548px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}


/* button css */
.couche1{
	position: relative;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	width:500px;
	height:80px;
    cursor:pointer;
    margin : -40px 90px;
    padding-top: 40px;
}

.couche2{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:394px;
	height:44px;
	margin-top:3px;
	margin-left:3px;
	background:#2d2413;
	-webkit-box-shadow: 0px 9px 0px #AF6B06;
    -moz-box-shadow: 0px 9px 0px #AF6B06;
    box-shadow: 0px 9px 0px #AF6B06;

}

.couche23{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:392px;
	height:30px;
	margin-top:5px;
	margin-left:1px;
    -webkit-box-shadow: 0px -4px 5px 0px #FFDC33;
    -moz-box-shadow:    0px -4px 5px 0px #FFDC33;
	box-shadow:         0px -4px 5px 0px #FFDC33;


}

.couche3{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:0px;
	margin-left:5px;
	width:381px;
	height:22px;
	background:rgba(255,187,42,1);
	-webkit-box-shadow: 0px 4px 3px 0px #FE8906;
	-moz-box-shadow:    0px 4px 3px 0px #FE8906;
	box-shadow:         0px 4px 3px 0px #FE8906;

}

.couche4{
	position:center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:0px;
	margin-left:3px;
	width:375px;
    text-align: center;
	height:18px;
	background:#FFD053;
	
}


#blue2{
	background:#2199FF;
	-webkit-box-shadow: 0px 9px 0px #004FA5;
    -moz-box-shadow: 0px 9px 0px #004FA5;
    box-shadow: 0px 9px 0px #004FA5;

}

#blue23{
	-webkit-box-shadow: 0px -4px 5px 0px #3EBAFF;
    -moz-box-shadow:    0px -4px 5px 0px #3EBAFF;
	box-shadow:         0px -4px 5px 0px #3EBAFF;
	
}

#blue3{
	background:#4CADFF;
	-webkit-box-shadow: 0px 4px 3px 0px #2181FC;
	-moz-box-shadow:    0px 4px 3px 0px #2181FC;
	box-shadow:         0px 4px 3px 0px #2181FC;
		
}

#blue4{
	background:#67BCFF;
	
}

#blue5{
	background:#D9FFFF;
	
	
}

#battle_blue{
	text-shadow: -1px 0 1px #002F83, 
             	1px 0 1px #002F83,
             	0 -1px 1px #002F83,
             	0 4px 1px #002F83,
             	-2px 4px 1px #002F83,
             	2px 3px 2px #002F83;
    color:#000000;
}

