@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*{
  font-family: "Yantramanav", sans-serif;
  /* background-image: url(./assets/game-background.jpg); */
}
.card {
  max-width: 1000px;
  margin: auto;
}
.greetings{
  text-align: center;
  margin-bottom: 20px;
}


